body{
	background-image:url(../images/DESIGN/city.jpg);
	background-repeat:repeat-x;
	background-color:black;
	font-family:"Courier New", Courier, monospace;
	padding:0px;
	margin:0px;
	}
h3{	display:inline;
	}
hr{	border:solid turquoise 2px;
	margin:0px;
	padding:0px;	
	}
img{margin:0px 0px 10px 20px;
	}
.banner{margin:10px;
	font-size:30px;
	color:yellow;
	text-shadow:black 1px 0px 0px;
	}
.black{	background-color:black;
	}
button{	font-family:"Courier New", Courier, monospace;
	margin:5px;
	}
button:hover{
	border-bottom:yellow 5px solid;
	color:orange;
	cursor:pointer;
	}
.btn{
	background-color:black;
	border-top:orange solid 3px;
	border-left:orange solid 3px;
	border-right:orange solid 3px;
	border-bottom:white solid 3px;
	color:white;
	text-shadow:green 1px 0px 0px;
	font-size: 20px;
	}
.top_menu{
	background-color:brown;
	border-bottom:yellow 1px solid;
	border-top:red 10px solid;
	margin:0px;
	padding:5px;
	color:yellow;
	}
.top_menu a{
	padding:4px;
	color:white;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	text-shadow:black 1px 0px 0px;
	margin-left:20px;
	}
.top_menu a:hover{
	background-color:yellow;
	font-size:13px;
	text-shadow:black 2px 2px 2px;
	padding:3px;
	}
.logo_menu{
	margin-top:10%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:40px;
	padding:10px;
	background-color:black;
	border-bottom:10px yellow solid;
	border-right:2px violet solid;
	border-left:2px violet solid;
	border-top:5px brown solid;
	height:50px;
}
.container{
	width:80%;
	float:left;
	background-color:black;
	color:white;
	font-size:20px;
	margin-top:10px;
	margin-left:15px;
	margin-right:10px;
	margin-bottom:10px;
	padding-left:30px;
	border-left:red solid 5px;
	border-top:red solid 2px;
	}
.secondary_menu{
	margin-bottom:10px;
}



